@model IQueryable<Collection>
@{
    string strTitle = "User area";
    ViewBag.Title = strTitle;
}
<script src="https://kit.fontawesome.com/163cdcd962.js" crossorigin="anonymous"></script>
<div>
    <div>
        @ViewBag.currentUserName's colections
        <div class="div-box">
            <a asp-area="User" asp-controller="Home" asp-action="Edit" asp-route-id=""><i class="fas fa-plus-square"></i></a>
        </div>
        <h3>Collections</h3>
        <div>
            <table width="70%" cellpadding="5">

                @foreach (Collection entity in Model)
                {                    
                    <tr>
                        <td>
                            <a asp-area="User" asp-controller="AddItems" asp-action="Index" asp-route-id="@entity.Id">
                                @($"{entity.Title}")
                            </a>
                        </td>
                        <td>
                            <a asp-area="User" asp-controller="Home" asp-action="Edit" asp-route-id="@entity.Id"><i class="far fa-edit"></i></a>
                        </td>
                        <td>
                            <form style="display: inline-block;" id="form-@entity.Id" asp-area="User" asp-controller="Home" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@entity.Id" />
                                <input type="hidden" name="ownerId" value="@ViewBag.currentUserId" />
                                <a href="#" onclick="document.getElementById('form-@entity.Id').submit();"><i class="fas fa-backspace"></i></a>
                            </form>
                        </td>
                    </tr>
                }
                </table>
        </div>
    </div>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Sign out" />
        </form>
    </div>
</div>
