@model IQueryable<Item>
@{
    string strTitle = "User area";
    ViewBag.Title = strTitle;
}
<style>
    .sortform {
        display: inline;
        display: inline-block;
        float: right;
    }
</style>
<script src="https://kit.fontawesome.com/163cdcd962.js" crossorigin="anonymous"></script>
<div>
    <div class="div-box">
        <a asp-area="User" asp-controller="Home" asp-action="Index">Go to list of collections</a>
    </div>
    <div class="div-box">
        <a asp-area="User" asp-controller="AddItems" asp-action="Edit" asp-route-id=""><i class="fas fa-plus-square"></i></a>
    </div>
    <div class="div-box">
        <form method="get" asp-area="User" asp-controller="AddItems" asp-action="Index" enctype="multipart/form-data">
            Name:  <input name="name" class="form-control" />
            <select size="1" name="sortBy">
                <option selected disabled>Sort by</option>
                <option value="Datemin">Date min</option>
                <option value="Datemax">Date max</option>
                <option value="AlphAZ">Alph A-Z</option>
                <option value="AlphZA">Alph Z-A</option>
            </select>
            <input type="submit" value="Filter" class="btn btn-default" />
        </form>
    </div>
    <table width="100%" cellpadding="5">
        @foreach (Item i in Model)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Tag</td>
                <td>@i.DateAdded</td>
                <td>
                    <a asp-area="User" asp-controller="AddItems" asp-action="Edit" asp-route-id="@i.Id"><i class="far fa-edit"></i></a>
                </td>
                <td>
                    <form style="display: inline-block;" id="form-@i.Id" asp-area="User" asp-controller="AddItems" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@i.Id" />
                        <a href="#" onclick="document.getElementById('form-@i.Id').submit();"><i class="fas fa-backspace"></i></a>
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Sign out" />
        </form>
    </div>
</div>

